
@{

    var id = Request.Url.Segments.Last();
    ViewBag.Title = "Editar producto";
}

<div class="container-fluid">

    <div class="card shadow mb-4">
        <h2 class="title"><a href="#">Editar Producto</a></h2>

        <div class="card-body">
            <div class="row form-group">
                <div class="col-md-12">
                    <label>Título</label>
                    <input class="form-control" data-bind="value: Product.Title" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Descripción</label>
                    <input class="form-control" data-bind="value: Product.Description" size="50" />
                </div>
                <div class="col-md-6">
                    <label>Image</label>
                    <input class="form-control" data-bind="textInput: Product.Image" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label>Precio</label>
                    <input class="form-control" type="number" min="0" data-bind="textInput: Product.Price" />
                </div>
                <div class="col-md-6">
                    <label>Artista</label>
                    <select class="form-control" data-bind="options: Artists, optionsText:'FirstName', optionsValue: 'Id'"></select>
                </div>
            </div>
            <div class="text-center m-t-30">
                <input type="button" value="Guardar cambios" data-bind="click: EditProduct" class="btn btn-primary" />
                <input type="button" value="Regresar" class="btn btn-secondary btn-icon-split" onclick="window.location='/Product/Index';" />
            </div>
        </div>
    </div>
</div>

<!-- /.container-fluid -->
@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script>
        var AppViewModel = function (data) {
            var self = this;
            self.Artists = ko.observableArray([]);
            Product = {
            Id: ko.observable(),
            Title : ko.observable(),
            Description : ko.observable(),
            Image : ko.observable(),
            Price : ko.observable(),
            art : ko.observable(),
            }
            var idPintura =@id;
            $.getJSON("/Product/GetProduct/"+idPintura, function (data) {
                ko.mapping.fromJS(data);
                Product.Id(data.Id)
                Product.Title(data.Title);
                Product.Description(data.Description);
                Product.Image(data.Image);
                Product.Price(data.Price);
                Product.art(data.art);
            });
            console.log(this.Product);
            function Artista(data) {
                this.Id = ko.observable(data.Id);
                this.FirstName = ko.observable(data.FirstName);
                this.LastName = ko.observable(data.LastName);
            }
            $.getJSON("/Artist/GetArtists",
                function (data) {
                    var Artistas = ko.utils.arrayMap(data, function (item) {
                        return new Artista(item);
                    });
                    self.Artists(Artistas);
                });
            self.EditProduct = function (data) {
                console.log(Product);
                $.ajax({
                    url: '@Url.Action("EditProduct", "Product")',
                    type: 'GET',
                    data: Product,
                    contentType: 'application/json',
                    success: function (result) {
                       window.location = "/Product";
                    }
                }).fail(
                    function (xhr, textStatus, err) {
                        alert(err);
                    });
            };
        }
        var viewModel = new AppViewModel();
        ko.applyBindings(viewModel);
    </script>
}