@{
    ViewBag.Title = "CompraFinalizada";
}

<div class="card mb-4 py-3 border-left-success">
    <div class="card-body">
        <h2>¡Compra finalizada con éxito!</h2><br />
        <a href="/Home/Index" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Seguir comprando</span>
        </a>
    </div>
</div>