@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hidden-sm hidden-xs m-r-10" }))
    {
        @Html.AntiForgeryToken()

        <ul id="navbar-nav" style="list-style-type:none">
            <li class="navbar-nav mr-auto">
                <a style="color:#fff" href="/Manage/" title="Manage">@User.Identity.GetUserName()</a>
            </li>
            <li class="navbar-nav mr-auto"><a style="color:#fff" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            <li style="margin-left:5px;">&nbsp;</li>
        </ul>
    }
}
else
{
    <ul id="navbar-nav">
        <li class="navbar-nav mr-auto"><a style="color:#fff" href="/Account/Login" id="loginform">Log in</a></li>
    </ul>
}
