@using Microsoft.AspNet.Identity
                         @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li class="sidebar-item">
                                    <a href="/Home/Dashboard" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Dashboard</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="waves-effect"><i class="fa fa-info-circle m-r-10" aria-hidden="true"></i>Bitácoras</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="~/Artist/Index" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Artista</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Products</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/RolesAdmin" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Roles</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/UsersAdmin" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Usuarios</a>
                                </li>
                            }
                            <li class="sidebar-item">
                                <a href="#" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Home</a>
                            </li>

                            <li class="sidebar-item">
                                <a href="#" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Shop</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="/Home/Contact" class="waves-effect"><i class="fa fa-font m-r-10" aria-hidden="true"></i>Contact</a>
                            </li>
                           

            