@{
    ViewBag.Title = "Nuestro Contacto";
}
<h2>@ViewBag.Title</h2>


<address>

    Arenales, 2550<br />
    Cuidad Autonoma de Buenos Aires<br />
    <abbr title="Telefono">Telefono:</abbr>
    4762-0385
</address>

<address>
    <strong>Ventas:</strong>   <a href="mailto:ArtShopVentas@gmail.com">Support@example.com</a><br />

</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.4341155429934!2d-58.40476788461541!3d-34.59318256444812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9a7b62b13b%3A0x530b6ec9b3bbcd2f!2sArenales%202550%2C%20C1425BEB%20CABA!5e0!3m2!1ses-419!2sar!4v1605406614516!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>