@{ ViewBag.Title = "Carrito"; }

<div class="d-flex">
    <div class="dropdown mr-2 hidden-sm-down">

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style=""> <a class="dropdown-item" href="#">February 2020</a> <a class="dropdown-item" href="#">March 2020</a> <a class="dropdown-item" href="#">April 2020</a> </div>
    </div>

</div>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-9 col-lg-9">
            <div class="card">
                <div class="card-header bg-info">
                   
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table product-overview">
                            <thead>
                                <tr>
                                    <th>Pintura</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>

                            

                                    <!--  <th style="text-align:center">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-bind="text: _Product.Title"></td>
                                    <td data-bind="text: Quantity"></td>
                                    <td data-bind="text: Price"></td>


                                    <td>
                                        <input data-bind="click: $parent.RemoveItem.bind($data,Id())" type="button" value="Eliminar" class="btn btn-primary" />

                                    </td>


                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="d-flex no-block align-items-center">
                            <button class="btn btn-dark btn-outline"><i class="fas fa-arrow-left"></i> Seguir Comprando</button>
                            
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-3 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CARRITO</h5>
                    <hr>
                    <small>Total Compra</small>
                    <h2>$612</h2>
                    <hr>
                    <button class="btn btn-success">Finaliza Compra</button>
                    <button class="btn btn-secondary btn-outline">Cancel</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">For Any Support</h5>
                    <hr>
                    <h4><i class="ti-mobile"></i> 9998979695 (Toll Free)</h4> <small>Please contact with us if you have any questions. We are avalible 24h.</small>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>