@{
    ViewBag.Title = "Carrito";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <h2 class="title"><a href="#">Orden de compra</a></h2>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Carrito</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table no-border table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Pintura</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody data-bind="foreach: Items">
                        <tr>
                            <td data-bind="text: Product.Title"></td>
                            <td data-bind="text: '$ ' + Price()"></td>
                            <td data-bind="text: Quantity"></td>

                            <td>
                                <input data-bind="click: $parent.RemoveItem.bind($data,Id())" type="button" value="Eliminar" class="btn btn-danger btn-sm" />

                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div>
                <a href="/Home/Index" class="btn btn-default btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Volver a la tienda</span>
                </a>

                <a href="/Order/Pago" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Comprar!</span>
                </a>

            </div>

        </div>

    </div>



</div>
<!-- /.container-fluid -->



@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>

    <script>
        var AppViewModel = function () {
            var self = this;
            self.Items = ko.mapping.fromJS([]);
            $.getJSON("/Cart/Items",
                function (data) {
                    ko.mapping.fromJS(data, {}, self.Items);
                });
        };
        AppViewModel.prototype.RemoveItem = function (data) {
            if (confirm('Eliminar la Pintura ?')) {
                $.ajax({
                    type: 'GET',
                    url: '/Cart/DeleteItem/' + data,
                    success: function (result) {
                        location.reload();
                    }
                }).fail(
                    function (xhr, textStatus, err) {
                        alert(err);
                    });
            } else {
            }
        };
        var viewModel = new AppViewModel();
        ko.applyBindings(viewModel);
    </script>

}